env/
.env
.env.example
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
*.dist-info/
*.whl
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.venv/
*.virtualenv/
*.ipynb_checkpoints/
*.DS_Store
*.vscode/
